# Build and Release Folders
bin-debug/
bin-release/
jars/
conf/
*.sh
*.bat
docs/
CHANGELOG
*.py
runtime/
temp/
jars/
logs/
lib/
test/




# Other files and folders
.settings/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.