# Build and Release Folders
bin/
bin-debug/
bin-release/
test/
jars/
conf/
*.sh
*.bat
docs/
*.txt
CHANGELOG
*.py
runtime/
temp/
jars/
logs/
lib/




# Other files and folders
.settings/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.